body {
    margin: 0;
}

.pageTitle {
    text-align: center;
}

.titleLink {
    text-decoration: none;
    color: black;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navElement {
    float: right;
}

.navElement a, .navElement span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navElement a:hover {
    background-color: #111111;
}

section {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.apuntadosLista, .desapuntadoLista {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.teamLogo, .passIcon {
    margin-left: 5px;
    margin-right: 5px;
}

.invitadosLista {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-left: 45px;
}

.desapuntadoLista {
    text-decoration: line-through;
}

.pokemonIcon {
    position: relative;
}

#shinyIcon {
    position: absolute;
    top: 0%;
    left: 40%;
    cursor: pointer;
}

#shadowIcon {
    position: absolute;
    bottom: 10%;
    left: 38%;
}

#maxIcon {
    position: absolute;
    top: 0%;
    right: 38%;
    z-index: -1;
}

.currentWeather {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButtons, .statusList {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.alertBox {
    display: grid;
    width: auto;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.6s;
}

.alertSuccess {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alertError {
    padding: 20px;
    background-color: #F44336;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.closeAlertBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAlertBtn:hover {
    color: black;
}

footer {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 5px;
    margin-top: 10px;
}