body {
    margin: 0;
}

.pageTitle {
    text-align: center;
}

.titleLink {
    text-decoration: none;
    color: black;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

/* Hago que los enlaces de la barra de navegación aparezcan en la derecha 
(pero con el orden inverso al introducido en el documento HTML */
.navElement {
    float: right;
}

.navElement a, .navElement span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navElement a:hover {
    background-color: #111111;
}

/* Hago que la posición de cada opción de jefe de incursión de la lista 
sea relativa para poder mostrar los iconos de variocolor, oscuro, dinamax 
y gigamax en una posición parecida a la que tienen en el juego usando la 
posición absoluta en cada icono */

.listOption {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 5px;
}

/* Oculto el botón de input type radio */
.radioImg { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Con esto hago que la imagen parezca que 
sea el botón de input type radio */
.radioImg + img {
  cursor: pointer;
  outline: 2px solid #8f8f9d;
}

/* Cambio el color del borde de la imagen 
que corresponde a la opción señalada */
.radioImg:checked + img {
  outline: 2px solid #ff0000;
}

.listOption .radioImg + img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.shinyIcon {
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.shadowIcon {
    position: absolute;
    bottom: 2px;
    left: 2px;
    cursor: pointer;
}

.maxIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    z-index: -1;
}

section {
    margin-left: 30px;
    margin-right: 30px;
}

.weatherList {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* Hago que la caja de alerta sea un grid para mostrar el botón 
de cierre a la derecha, y le doy color a los tipos de alertas 
que pueden aparecer en la página */

.alertBox {
    display: grid;
    width: auto;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.6s;
}

.alertError {
    padding: 20px;
    background-color: #F44336;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Le doy una animación al icono de cierre para que, 
al pasar el ratón sobre él, su color cambie de blanco
a negro */

.closeAlertBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 22.5px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAlertBtn:hover {
    color: black;
}

footer {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 5px;
    margin-top: 10px;
}