body {
    margin: 0;
}

.pageTitle {
    text-align: center;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

/* Hago que los enlaces de la barra de navegación aparezcan en la derecha 
(pero con el orden inverso al introducido en el documento HTML */
.navElement, .navSelected {
    float: right;
}

.navElement a, .navElement span, .navSelected span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navSelected {
    background-color: #111111;
    cursor: default;
}

.navElement a:hover {
    background-color: #111111;
}

.titleLink {
    text-decoration: none;
    color: black;
}

section {
    margin-left: 30px;
    margin-right: 20px;
}

form {
    margin-top: 10px;
}

.teamList {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 5px;
}

/* Oculto el botón de input type radio */
.radioImg { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Con esto hago que la imagen parezca que 
sea el botón de input type radio */
.radioImg + img {
  cursor: pointer;
  outline: 2px solid #8f8f9d;
  padding: 5px;
}

/* Cambio el color del borde de la imagen 
que corresponde a la opción señalada */
.radioImg:checked + img {
  outline: 2px solid #ff0000;
  padding: 5px;
}

.loginLink {
    color: #0000FF;
}

/* Hago que la caja de alerta sea un grid para mostrar el botón 
de cierre a la derecha, y le doy color a los tipos de alertas 
que pueden aparecer en la página */

.alertBox {
    display: grid;
    width: auto;
    justify-content: left;
    opacity: 1;
    transition: opacity 0.6s;
}

.alertError {
    padding: 5px;
    background-color: #F44336;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Le doy una animación al icono de cierre para que, 
al pasar el ratón sobre él, su color cambie de blanco
a negro */

.closeAlertBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 22.5px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAlertBtn:hover {
    color: black;
}

footer {
    text-align: center;
    color: white;
    background-color: gray;
    padding: 5px;
    margin-top: 10px;
}