body {
    margin: 0;
}

.pageTitle {
    text-align: center;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navElement {
    float: right;
}

.navElement a, .navElement span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navElement a:hover {
    background-color: #111111;
}

.titleLink {
    text-decoration: none;
    color: black;
}

section {
    margin-left: 30px;
    margin-right: 20px;
}

.teamList {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 5px;
}

.radioImg { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radioImg + img {
  cursor: pointer;
  outline: 2px solid #333;
  padding: 5px;
}

.radioImg:checked + img {
  outline: 2px solid #f00;
  padding: 5px;
}